* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: white;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 32px;
    color: #000;
    text-decoration: none;
    font-weight: 700;

}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 750;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height:2px;
    background: #000;
    transition: .3s;
}

.navbar a:hover:before{
    width: 100%;

}

.intro{
    padding-top: 100px;
    display: flex;
}

.container {

    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.item-1 {
    position: relative;
    display: flex;
    margin: 5;
    height: 12cm;
    width: 8cm;
    border-radius: 5%;
    background-color: #2F2D2E;
    backdrop-filter: blur(100px);
    padding-right: 1cm;
}

.item-1 img {
    max-width: 100%;
    max-height: 100%;
    size: 50%;
}

.item-1 h1{
    text-align: center;
    color: white;
}

.item-1 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    border: 2px solid #000;
    background: none;
    padding: 5px 10px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 10px;
    font-weight: 500;
    align-self: last baseline
}

.item-2 {
    position: relative;
    display: flex;
    margin: 5;
    height: 12cm;
    width: 8cm;
    border-radius: 5%;
    background-color: #2F2D2E;
    backdrop-filter: blur(100px);
    padding-right: 1cm;
}

.item-3 {
    position: relative;
    display: flex;
    margin: 5;
    height: 12cm;
    width: 8cm;
    border-radius: 5%;
    background-color: #2F2D2E;
    backdrop-filter: blur(100px);
    padding-right: 1cm;
}

.item-4 {
    position: relative;
    display: flex;
    margin: 5;
    height: 12cm;
    width: 8cm;
    border-radius: 5%;
    background-color: #2F2D2E;
    backdrop-filter: blur(100px);
    padding-right: 1cm;
}

.item-5 {
    position: relative;
    display: flex;
    margin: 5;
    height: 12cm;
    width: 8cm;
    border-radius: 5%;
    background-color: #2F2D2E;
    backdrop-filter: blur(100px);
    padding-right: 1cm;
}
